body {
  background: black;
  color: white;
  text-align: center;
}

/* ❗ video completely hidden */
#player {
  display: none;
}

.player img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card {
  margin: 10px;
  padding: 10px;
  background: #222;
}
